<div id='container'>
  <div id='info'>
    <span id="name">Justin K-K</span>
    <div id='contact'>
      <ul>
      <li id='occupation'><i class="material-icons">school</i> <span>Computer Science BS Student, SUNY Fredonia </span></li>
      <li id='email'><i class="material-icons">email</i> <span>jkieberking@gmail.com</span></li>
      <li id='phone-number'><i class="material-icons">phone</i> <span>(315) 925-2490</span></li>
      </ul>
    </div>
  </div>
</div>
