<form class="" action="/save" method="post">
  <fieldset>
  <legend>Course Info</legend>
  <label for="name">Name</label>
  <input type="text" name="name">
  <br>
  <label for="number">Number</label>
  <input type="text" name="number">
  <br>
  <label for="section">Section</label>
  <input type="text" name="section">
  <br>
  <label for="semester_id">Semester ID</label>
  <input type="text" name="semester_id">
  <br>
  <label for="max_students">Max Students</label>
  <input type="text" name="max_students">
  <br>
  <label for="departments_id">Department ID</label>
  <input type="text" name="departments_id">
  <br>
  <button type="submit" name="button">Submit</button>
  </fieldset>
</form>
