// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
background: #B993D6; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #B993D6 , #8CA6DB); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #B993D6 , #8CA6DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
position: absolute;
width: 100%;
height: 100%;
}

#mr-t {}

#login-form {
  opacity: 0;
  animation: login 1s ease-in;
  animation-delay: 1s;
  position: relative;
  background-color: white;
  border-radius: 8px;
  padding: 2em;
  max-width: 200px;
  top: 20%;
  left: 50%;
  input {
    display: block;
    margin: auto;
    margin-bottom: 32px;
    font-size: 1.2 em
  }

  button {
    width: 100px;
    display: block;
    margin: auto;
  }
}

#about-us {}

@keyframes login {
  from {
    opacity: 0;
    transform: translateY(-5%);

  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
